<h1>About Us</h1>
<p>
	<%= link_to "Sample Social Site", root_path %>
	is a project to make a simple social site with minimal functionality
	with <a href="http://rubyonrails.org/">Ruby on Rails</a>
</p>