<h1>Help</h1>
<p>
	Get help on Ruby on Rails at the
	<a href="http://guides.rubyonrails.org/">Official RoR Guides Page</a>.
	To get help on this Social Site App, Contact Kullu at his
	<a href="mailto:kullu.king@gmail.com?Subject=Social%20Site%20Query">Mail Box</a>.
</p>
